.consulta-container {
  justify-content: center;
  padding: 32px 16px;
  background-color: #f0f2f5;
}

.result-area-container {
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  text-align: center;
}
